HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
springboot-jpa/.mvn
.idea/
spring-quick-start/.mvn/
rebel.xml
spring-quick-start/src/main/resources/rebel.xml
*/rebel.xml
springboot-email/src/main/resources/rebel.xml
docker-compose/mysql/
docker-compose/redis/data/dump.rdb
JavaTestCode/target/
springboot-autocsdn/.mvn/
out/
springboot-redis/redis/data/dump.rdb
springboot-redis/.mvn/
sprigboot-common/.mvn/wrapper
